<?xml version="1.0" encoding="UTF-8"?>


<beans>

    <component-scan base-package="cn.kiko.test.aop"/>
    <bean id="propertyPlaceholderConfigurer" class="cn.kiko.springframework.beans.factory.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:token.properties"/>
    </bean>
    <bean id="userService" class="cn.kiko.test.aop.UserService">
        <property name="token" value="${token}"/>
    </bean>



</beans>